body {
  background: url(assets/bg.jpg) top right;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #df4d30;
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 1px;
  height: 101vh;
}
.main {
  position: sticky;
  height: 180px;
  width: 100vw;
  display: inline;
  position: fixed;
  top: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  padding-top: 20px;

}
.main div.button {
  display: inline;
  padding-right: calc(1/3*((100vw - 310px)/2));
  padding-left: calc(1/3*((100vw - 310px)/2));
}

.profile {

}

.accountdetails {
  width: 100%;
  font-weight: 900;
}

.name, .details {
  width: 100%;
  text-align: center;
}

.details {
  position: relative;
  top: -20px;
}

#risingarrow, #pf {
  width: 100px;
  height: 100px;
}

#risingarrow:hover, #settings:hover {
  background-color: #df4d30;
  border-radius: 5px;
}

#settings {
  width: 50px;
  height: 50px;
  padding: 25px;
}

.transaction {
  position: fixed;
  top: 300px;
  width: 80%;
  height: calc(100vh - 350px);
  right: 10%;

  overflow: hidden;
}

.transaction .scroll {
  width: calc(100% + 34px);
  height: 100%;
  overflow-y: scroll;
  position: relative;
  right: 17px;
}

.pay {
  width: calc(100% - 36px);
  height: 55px;
  padding: 8px;
  margin: 20px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.5);

}

.pay * {
  display: inline;
}

.pay h1 {
  position: relative;
  top: 5px;
}

.pay h3 {
  float: right;
  position: relative;
  top: -3px;
}

.in span {
  color: #41eb41;
}

.out span {
  color: #eb3232;
}
